@font-face {
    font-family: rc;
	src: url(~assets/font/RobotoCondensed-Bold.ttf);
	font-weight: 700;
}
@font-face {
    font-family: rc;
    src: url(~assets/font/RobotoCondensed-Regular.ttf);
}
@font-face {
	font-family: mk;
    src: url(~assets/font/mkx-title.ttf);
}
