/** ------------------------------------------------------------
  ##  TAILWIND CSS
  --------------------------------------------------------- */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/** ------------------------------------------------------------
  ##  CUSTOM CLASSES
  --------------------------------------------------------- */

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}
body {
	background-image: linear-gradient(theme('colors.coal-900'), theme('colors.coal-600'));
	@apply text-white h-screen
}
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}
button:focus, textarea:focus {
	@apply outline-none
}
