/** ------------------------------------------------------------
  ##  TAILWIND CSS
  --------------------------------------------------------- */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/** ------------------------------------------------------------
  ##  CUSTOM CLASSES
  --------------------------------------------------------- */
@import './font.css';

html {
	font-family: rc, Arial, Helvetica, sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}
body {
	background-image: linear-gradient(theme('colors.coal-900'), theme('colors.coal-600'));
	@apply text-white min-h-screen
}
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}
button:focus, textarea:focus {
	@apply outline-none
}
.btn {
	transition: all .5s;
	@apply bg-gold py-2 px-4 uppercase font-bold
}
.mk-box {
	transition: all .5s;
	@apply border border-gold
}
.mk-box:hover, .btn:hover {
	box-shadow: 0 0 60px rgba(253,169,15,.5);
	@apply border-white
}
/* Form */
.form-group {
	@apply flex flex-col
}
.form-group label, .form-label {
	@apply mb-1
}
.form-control {
	@apply rounded-lg border-2 bg-coal-900 p-2
}
.form-control:focus {
	@apply border-gold-600 outline-none
}
